
.header {
    padding: 50px;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
}

#article {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    @media (min-width: 576px);
    @media (min-width: 768px); 
    @media (min-width: 992px); 
    @media (min-width: 1200px); 
    text-align: "center";
    display: flex;
    flex-wrap: wrap;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    color: black
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}


.hide {
    display: none;
}

ul.nobullets {
    list-style-type: none;
    align-items: center;
    }

#questions,
#final,
#highscores {
     display: none;  
      } 

     .center-block {
        margin-left:auto;
        margin-right:auto;
        display:block;
     }